<section>
    <form action="/inserare-bd" method="post">
        <p>
            <label for="id">Id:</label>
            <input type="int" id="id" name="id">
            <label for="nume">Nume:</label>
            <input type="text" id="id_nume" name="nume">
            <label for="zahar">Zahar:</label>
            <input type="text" id="id_zahar" name="zahar">
            <label for="lapte">Lapte:</label>
            <input type="text" id="id_lapte" name="lapte">
            <label for="dimensiune">Dimensiune:</label>
            <input type="text" id="id_dimensiune" name="dimensiune"><br><br>
            <label for="temperatura">Temperatura:</label>
            <input type="text" id="id_temperatura" name="temperatura">
            <label for="loc">Loc:</label>
            <input type="text" id="id_loc" name="loc"><br><br>
            <input class="submit" type="submit" value="Incarcare BD"/>
        </p>
        </form>
</section>