<html lang="ro-Ro">
<head>
    <title>Cafenea</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <header>
        <h1>Cafenea</h1>
    </header>
    <main>
        <%- body -%>
    </main>
    <footer>
        <hr/>
        <p>2020 &copy Maftei Elena-Claudia</p>
    </footer>
</body>
</html>
